.wrapper {
    width: 100%;
    padding: 1rem;
    background: var(--gray-400);

    display: grid;
    grid-template-columns: 26px 1fr 24px;
    align-items: center;
    gap: 12px;

    border: 1px solid var(--gray-400);
    border-radius: 8px;
    shadow-box: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.wrapper + .wrapper {
    margin-top: 1rem;
}

/* .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxSpan {
    height: 25px;
    width: 25px;
    background: transparent;
    border: 1px solid var(--blue-500);
    border-radius: 50%;
}

.container:hover input ~ .checkboxSpan {
    background-color: var(--blue-800);;
}

.container input:checked ~ .checkboxSpan {
    background-color: var(--purple-700);
}

.container input:checked ~ .checkboxSpan:after {
    display: block;
}

.checkboxSpan:after {
    content: "";
    display: none;
}

.container input:checked ~ .checkboxSpan:after {
    display: block;
}

.container .checkboxSpan:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */

.content {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--gray-100);
}

.contentChecked {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--gray-300);

    text-decoration: line-through;
}

.trash {
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
}

.trash:hover {
    color: var(--red-500);
}